* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Poppins', sans-serif;
    background: #f1f1f1a7;
    width: 100%;
    height: 90vh;
}


/* Header */
header {
    display: flex;
    align-items: center;
    justify-content: start;
    height: 70px;
    background-color: #32332C;
    color: white;
}

header img {
    width: 30px;
    height: 30px;
    margin: 10px;
    object-fit: contain;
}

/* Sidebar */
.sidebar {
    position: fixed;
    top: 70px;
    left: 0;
    width: 250px;
    min-height: 100vh;
    background-color: white;
    color: #32332C;
    transition: all 0.3s ease;
}

.sidebar ul {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    list-style: none;
}

.sidebar ul li {
    position: relative;
    width: 100%;
    padding: 15px 8px;
    display: flex;
    align-items: center;
    justify-content: start;
    transition: all 0.3s ease;
}

/* Root element of dynamic content */
section {
    margin-left: 250px;
}

/* Holds dynamic section of app */
.contentContainer {
    display: flex;
    flex-direction: column;
    margin: 40px;
}
.contentContainer h1 {
    margin: 8px 0;
}
/* Table */
.contentContainer #filteredDataContainer,
.contentContainer .tableContainer {
    padding: 10px;
    border-radius: 10px;
    background-color: white;
}
.contentContainer .contentHeader {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.contentContainer table {
    width: 100%;
    border-collapse: collapse;
    background-color: white;
    padding: 60px;
    border-radius: 10px;
}
.contentContainer th,
.contentContainer td {
    border: 1px solid #828282;
    padding: 8px;
}
.contentContainer th {
    background-color: #f1f1f1a7;
}

/* Login Form */
.login-container {
    width: calc(100% - 250px);
    margin: 0 auto;
}
.login {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 50px;
}
.login form input {
    width: 100%;
    height: 30px;
    margin: 10px 0;
    padding: 5px;
    border: 1px solid #32332C;
    border-radius: 5px;
    outline: none;
}
.login form button {
    width: 100%;
    height: 30px;
    margin: 10px 0;
    padding: 5px;
    border: 1px solid #056287;
    border-radius: 5px;
    outline: none;
    background-color: #056287;
    color: white;
    font-weight: bold;
    cursor: pointer;
}
.login hr {
    width: 100%;
    margin: 10px 0;
    opacity: 0.8;
}


/* General Form */
form {
    width: 900px;
}


/* .contentContainer  */


/* add contact*/
.addcontact form div{
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: auto;
    padding: 10px;
    grid-template-areas:
    "header header header"
    "main main main"
    "footer footer footer2";
}
.addcontact form div div{
    display: flex;
    flex-direction: column;
}

.addcontact button{
    grid-area: footer2;
    font-size: 20px;
    width: 80px;
    border-radius: 5px;
    background-color: #5500fb;
    color: white;
}

.addcontact label{
    font-size: 20px;
    padding:10px;
}

.addcontact input, select{
    height: 30px;
    border-radius: 5px;
    border: 50px;
}
